<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/styles/detail.css">
</head>

<body>
    <div class = "StickyTop">
        <%-include('./partials/top.ejs')%>
    </div>
    <div class = "itemList">
        <div class="itemContainer">
            <div class = 'reviewAndItem'>
                <div class='TitleandDelete'>
                    <h1><%=singleItem[0].Name%></h1>
                    <a href="/Location/edit/<%=singleItem[0].id%>">
                        <button>Edit</button>
                    </a>  
                    <a href="/Location/delete/<%=singleItem[0].id%>">
                        <button>Delete</button>
                    </a> 
                    <a href="/Posts/<%=singleItem[0].id%>">
                        <button>Post Review</button>
                    </a> 
                </div> 
                <img src="<%=`${singleItem[0].Picture}`%>">
                <h2>Location Type: <%=singleItem[0].Location_Type%></h2>
                <h2>Name: <%=singleItem[0].Name%></h2>
                <h2>Fish Species:<%=singleItem[0].Fish%></h2>
                <h2>Fish Caught:<%=singleItem[0].Fish_Caught%></h2>
                <div class='purchaseContainer'>
                    <div class = 'cart'>
                        <div class = 'input'>
                            <a href="/Location/Update/<%=singleItem[0].id%>">
                                <button class = 'buy' method>Log a Fish</button> 
                            </a>
                        </div>                                        
                    </div>
                </div>
            </div> 
            <div class = "reviews">
            <h1>REVIEWS</h1>
            <% for ( let i = 0 ; i < singleItem[0].Posts.length;i++)
            {%>
            <a href="/posts/show/<%=singleItem[0].id%>/<%=singleItem[0].Posts[i].id%>">
                <div class = "reviewContainer">
                    <h1>Reviewer: <%=singleItem[0].Posts[i].Reviewer%><h1>
                    <h1>Title: <%=singleItem[0].Posts[i].Title%><h1>
                    <h1>Bait: <%=singleItem[0].Posts[i].Bait%></h1>
                    <h1>Time: <%=singleItem[0].Posts[i].Time%></h1>     
                    <h1>Weather: <%=singleItem[0].Posts[i].Weather%><h1>
                    <h1>Content: <%=singleItem[0].Posts[i].Content%><h1>
                </div> 
            </a>                  
            <%}%>
            </div> 
        </div>
    </div>
</body>