<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class = "StickyTop">
        <%-include('./partials/top.ejs')%>
        <%-include('./partials/nav.ejs')%>
        <div class = "Filter">
            <h1>Filter</h1>
            <form action='/Location/' method="URL">
                <label for="Location_Type">Location_Type</label>
                <input type="String" name="Location_Type" id="Item_Number" >
                <label for="Name">Name</label>
                <input type="String" name="Name" id="Name">
                <label for="City">City</label>
                <input type="String" name="City" id="City">
                <input class = "submit" type="submit" value="Submit">
            </form>
        </div> 
    </div>
    <main class ='List'>
        <div class ='itemList'>
            <% for ( let item of itemlist)
            {%>
                <div class="itemContainer">
                    <h1><%=item.Name%></h1>
                    <a href="/Location/<%=item.id%>">
                    <img src="<%=`${item.Picture}`%>">
                    <h2>City: <%=item.City%></h1>
                    <h2>Fish: <%=item.Fish%></h3>
                    </a> 
                </div>
            <%}%>
        </div>
    </main>
</body>