<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/styles/addform.css">
</head>

<body>
    <%-include('./partials/top.ejs')%>
    <main class ='itemList'>
        <form action='/Posts/update/<%=singleItem.id%>/<%=singlePost.id%>' method="post">
            <label for="Reviewer">Name</label>
            <input type="String" name="Reviewer" id="Reviewer" value="<%=singlePost.Reviewer%>">
            <label for="Title">Title</label>
            <input type="String" name="Title" id="Title" value="<%=singlePost.Title%>">
            <label for="Bait">Bait</label>
            <input type="String" name="Bait" id="Bait" value="<%=singlePost.Bait%>">
            <label for="Time">Time</label>
            <input type="String" name="Time" id="Time" value="<%=singlePost.Time%>">
            <label for="Weather">Weather</label>
            <input type="String" name="Weather" id="Weather" value="<%=singlePost.Weather%>">
            <label for="Content">Content</label>
            <input type="String" name="Content" id="Content" value="<%=singlePost.Content%>">
            <input class = "submit" type="submit" value="submit">
        </form>
    </main>
</body>